#appPopup {
  position: absolute;
  top: -100;
  width:100%
  text-align: center;
}

html {
  text-align: center;
}

div.ng-hide-add {
 animation:0.5s flipOutY ease;
}

div.ng-hide-remove {
 animation:0.5s flipInX ease;
}

.choice.ng-enter {
 animation:0.5s bounceIn ease;
}

[animate-on-change] {
 animation:0.2s slideInRight ease;
}

[animate-on-change].changed {
 animation:0.2s slideOutLeft ease;
}
