#appPopup {
  position: absolute;
  top: -100;
  width:100%
  text-align: center;
}

html {
  text-align: center;
}

div.ng-hide-add {
  -webkit-animation: shrink 0.2s;
  animation: shrink 0.2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

div.ng-hide-remove {
 animation:0.5s flipInX ease;
}

.choice.ng-enter {
 animation:0.5s bounceIn ease;
}

[animate-on-change] {
 animation:0.2s slideInRight ease;
}

[animate-on-change].changed {
 animation:0.2s slideOutLeft ease;
}

@-webkit-keyframes shrink
{
  20%
  {
     -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
  }
  40%
  {
     -webkit-transform: scale(0.6);
     -ms-transform: scale(0.6);
     transform: scale(0.6);
  }
  60%
  {
     -webkit-transform: scale(0.4);
     -ms-transform: scale(0.4);
     transform: scale(0.4);
  }
  80%
  {
     -webkit-transform: scale(0.2);
     -ms-transform: scale(0.2);
     transform: scale(0.2);
  }
  100%
  {
     -webkit-transform: scale(0);
     -ms-transform: scale(0);
     transform: scale(0);
  }
}
@keyframes shrink
{
  20%
  {
     -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
  }
  40%
  {
     -webkit-transform: scale(0.6);
     -ms-transform: scale(0.6);
     transform: scale(0.6);
  }
  60%
  {
     -webkit-transform: scale(0.4);
     -ms-transform: scale(0.4);
     transform: scale(0.4);
  }
  80%
  {
     -webkit-transform: scale(0.2);
     -ms-transform: scale(0.2);
     transform: scale(0.2);
  }
  100%
  {
     -webkit-transform: scale(0);
     -ms-transform: scale(0);
     transform: scale(0);
  }
}
