<div class="container">
  <form role="form">
    <div class="form-group">
      <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="list-group">
    <li ng-repeat="category in categories | orderBy:'+category' | filter:searchText" class="list-group-item">
      <strong>{{ category }}</strong>
      <tags-input ng-model="tasks"
                  display-property="name"
                  placeholder="Add a Task"
                  replace-spaces-with-dashes="false"
                  template="tag-template">
        <auto-complete source="getTasks($query, category);"
                       min-length="0"
                       load-on-focus="true"
                       load-on-empty="true"
                       max-results-to-show="32"
                       template="autocomplete-template">
        </auto-complete>
      </tags-input>
      <ul class="list-group">
        <li ng-repeat="task in tasks | orderBy:'+name' | filter:category" class="list-group-item">
          <span>{{ task.name }}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>

    <script type="text/ng-template" id="tag-template">
      <div class="tag-template">
        <div ng-if="data.name">{{ data.name }}</div>
      </div>
    </script>

    <script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
          <div ng-if="data.name">{{ data.name }}</div>
        </div>
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
      </div>
    </script>
