<div class="container">
  <h1>This or That</h1>
  <ul class="pagination">
    <li ng-repeat="choice in priorityList track by $index" ng-class="{'active' : $index === currentChoice}" ng-style="choice.choice !== '' ? { 'font-weight': 'bold' } : {}"><a href="#" ng-click="setCurrentChoice($index)">{{choice.choice === '' ? $index + 1 : 'ok'}}</a></li>
  </ul>
  <button style="width:100%" class="btn btn-lg btn-primary" ng-class="getButtonClass(1)" ng-click="makeChoice(1)">{{priorityList[currentChoice].firstChoice}}</button>
  <h2>or</h2>
  <button style="width:100%" class="btn btn-lg btn-primary" ng-class="getButtonClass(2)" ng-click="makeChoice(2)">{{priorityList[currentChoice].secondChoice}}</button>
</div>
